.filter-item {
  display: flex;
  padding: 8px;
  background-color: #ffff;
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  margin: 10px 10px 10px 0px;
  font-size: 14px;
}
.filter-name {
  margin-left: 5px;
}
