.collections {
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 30px;
  background-color: #f8f8f8;
}
.title-discription {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.discription {
  font-size: 18px;
  color: #363636;
}
.more-collections {
  color: #e03546;
  font-size: 16px;
}
.more-icon {
  color: #e03546;
  font-size: 14px;
}
